pytorch-lightning==1.5.10
torch==2.4.0
torch-ema==0.3
torch-optimizer==0.3.0
torch-stoi==0.1.2
torchaudio==2.4.0
torchinfo==1.6.3
torchmetrics==0.9.3
torchsde==0.2.5
torchvision==0.19.0
tornado==6.2
tqdm==4.63.0
ninja
matplotlib
pesq
wandb
PySoundFile
pandas